body {
  font-family: Verdana, sans-serif;
  max-width: 40em;
  font-size: 12px;
}

h1 {
  font-size: 16px;
}

.portrait {
  float: right;
  width: 144px;
  max-width: 40%;
  height: auto;
  margin: 0 0 12px 16px;
}
